/* Farbgruppe 1 */
.color-A1 {
  color: rgb(0, 50, 100);
  color: rgb(0, 50, 100);
}

/* Farbgruppe 2 */
.color-A3 {
  color: rgb(92, 157, 221);
  color: rgb(92, 157, 221);
}

/* Farbgruppe 3 */
.color-A3 {
  color: rgb(229, 229, 229);
  color: rgb(229, 229, 229);
}

/* Farbgruppe 4 */
.color-A3 {
  color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

/* Farbgruppe 5 */
.color-A3 {
  color: rgb(226, 237, 249);
  color: rgb(226, 237, 249);
}

/* Farbgruppe 6 */
.color-A3 {
  color: rgb(229, 229, 229);
  color: rgb(229, 229, 229);
}

/* Farbgruppe 7 */
.color-A3 {
  color: rgb(130, 130, 130);
  color: rgb(130, 130, 130);
}

/* Farbgruppe 8 */
.color-A3 {
  color: rgb(228, 75, 13);
  color: rgb(228, 75, 13);
}

/* Farbgruppe 9 */
.color-A3 {
  color: rgb(228, 75, 13);
  color: rgb(228, 75, 13);
}

/* Farbgruppe 10 */
.color-A3 {
  color: rgb(249, 176, 21);
  color: rgb(249, 176, 21);
}

/* Farbgruppe 11 */
.color-A3 {
  color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

/* Farbgruppe 12 */
.color-A3 {
  color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

/* Farbgruppe 13 */
.color-A3 {
  color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
}
